*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

#section{
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
}

.left{
    width: 40%;
}

.left img {
    width: 100%;
    margin-top: 50px;
}

.right {
width: 60%;
margin-top: 40px;
padding-left: 30px;
}

.text {
    margin-bottom: 40px;
}

h1{
    font-weight: 300;
    font-size: 44px;
    letter-spacing: -2px;
}

h4{
    margin-top: 20px;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 1px;
    color: rgb(27, 25, 25);
}

h3{
    margin-top: 20px;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 1px;
    color: rgb(27, 25, 25);
}

span{
    color: #009688;
    font-weight: bold;
}

h2{
    margin-top: 20px;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 1px;
    color: rgb(27, 25, 25);
}

p{
    margin-top: 20px;
    font-size: 16px;
    font-weight: 300;
    color: #86939e;
}

#preview{
    margin-top: 20px;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 1px;
    color: rgb(27, 25, 25);
}

.image{
    display: flex;
    justify-content: left;
    margin-top: 20px;
    margin: 5px;
    width: 15%;
    height: 30%;
    cursor: pointer;
    padding: 4px;
    border-radius: 6px;
}

#one{
    margin: 5px;
    width: 100%;
    height: 30%;
    cursor: pointer;
    padding: 4px;
    border-radius: 6px;
}

#two{
    margin: 5px;
    width: 100%;
    height: 30%;
    cursor: pointer;
    padding: 4px;
    border-radius: 6px;
}

#three{
    margin: 5px;
    width: 100%;
    height: 30%;
    cursor: pointer;
    padding: 4px;
    border-radius: 6px;
}

#four{
    margin: 5px;
    width: 100%;
    height: 30%;
    cursor: pointer;
    padding: 4px;
    border-radius: 6px;
}

#five{
    margin: 5px;
    width: 100%;
    height: 30%;
    cursor: pointer;
    padding: 4px;
    border-radius: 6px;
}

.active {
    border: 2px solid #009688;
}